*{
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
	text-decoration: none;
	font-family: arial;
	outline: none;
}

#geral{
	background-color: #f3f3f3;
	position: relative;
	width: 100%;
}
.alinha{
	width: 1180px;
	position: relative;
	margin: 0 auto;
}

/* header */
#geral #header{
	position: relative;
	width: 100%;
	padding: 40px 0;
}
#geral #header h1{
	float: left;
}
#geral #header h1 a{
	background: url('../imagens/logo.jpg') no-repeat;
	width: 273px;
	height: 79px;
	text-indent: -9999px;
	display: block;
}
#geral #header .menu{
	position: relative;
	float: right;
}
#geral #header ul{
	background-color: #fff;
	float: left;
	position: relative;
	border-bottom: 1px solid #f37d35;
}
#geral #header ul.sub{
	margin-left: 1px;
}
#geral #header ul li{
	float: left;
	position: relative;
}
#geral #header ul li span.seta{
	background: url("../imagens/seta-menu.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -4px;
    display: block;
    height: 3px;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    width: 7px;
}
#geral #header ul li a{
	background: url('../imagens/borda-menu.gif') no-repeat left center;
	font-size: 10px;
	text-transform: uppercase;
	color: #727272;
	font-weight: bold;
	padding: 20px 20px;
	float: left;
}
#geral #header ul li:first-child a{
	background: none;
}
#geral #header ul li a:hover,
#geral #header ul li a.atv{
	background-color: #f37d35;
	color: #fff;
}
#geral #header .menu .boxLogin{
	bottom: -99px;
    position: absolute;
    right: 0;
    width: 489px;
    z-index: 100;
    display: none;
}
#geral #header .menu .boxLogin .cpos{
	background-color:#ffffff;
	width: 100%; 
	float: left;
}
#geral #header .menu .boxLogin .cpos form{
	padding: 25px 40px 18px 8px;
	font-size: 10px;
	color: #a7a7a7;
	float: left;
}
#geral #header .menu .boxLogin .cpos form label{
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 12px;
	float: left;
}
#geral #header .menu .boxLogin .cpos form input[type="text"]{
	border-bottom: 1px solid #e5e5e5;
	margin-left: 10px;
	float: left;
	color: #a7a7a7;
	font-size: 12px;
	padding-bottom: 5px;
}
#geral #header .menu .boxLogin .cpos form input[type="text"].email{
	width: 185px;
}
#geral #header .menu .boxLogin .cpos form input[type="text"].senha{
	width: 80px;
}
#geral #header .menu .boxLogin .cpos form input.btnEnviar{
	background: url('../imagens/btn-ok.jpg') no-repeat;
	width: 15px;
	height: 8px;
	float: left;
	margin-left: 45px;
	cursor: pointer;
}
#geral #header .menu .boxLogin .boxEsqueciSenha{
	background-color: #ffffff;
	width: 100%;
	padding: 10px 0;
	float: left;
	margin-top: 1px;
}
#geral #header .menu .boxLogin .boxEsqueciSenha a{
	font-style: italic;
	color: #6e6e6e;
	font-size: 10px;
	margin-left: 18px;
}

/* banner */
#banners{
	position: relative;
	width: 100%;
	overflow: hidden;
}
#banners ul{
	height: 400px;
	position: relative;
}
#banners ul li{
	position: relative;
	float: left;
}
#banners a.nav{
	background: url('../imagens/nav-banners.png') no-repeat;
	width: 51px;
	height: 102px;
	display: block;
	position: absolute;
	text-indent: -9999px;
	z-index: 100;
	top: 50%;
	margin-top: -51px;
}
#banners a.nav.prev{
	left: 80px;
}
#banners a.nav.next{
	right: 80px;
	background-position: -52px 0;
}

/* conteudo */
#geral #conteudo{
	background: url('../imagens/bg-conteudo.gif') repeat;
	position: relative;
	width: 100%;
	float: left;
	padding: 20px 0 80px 0;
}
/* busca */
#geral #conteudo #busca{
	background-color: #fff;
	position: relative;
	float: left;
	width: 100%;
	border-bottom: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	margin-bottom: 20px;
}
#geral #conteudo #busca p.descr{
	color: #6f6f6f;
	font-size: 13px;
	margin:18px 0 0 23px;
	float: left;
}
#geral #conteudo #busca ul.listaFiltro{
	float: left;
	margin-top: 18px;
}
#geral #conteudo #busca ul.listaFiltro > li{
	float: left;
	background: url('../imagens/borda-menu.gif') no-repeat left center;
	margin-right: 35px;
	position: relative;
}
#geral #conteudo #busca ul.listaFiltro li:first-child,
#geral #conteudo #busca ul.listaFiltro li:last-child{
	background: none;
}
#geral #conteudo #busca .cposBusca{
	float: left;
	font-size: 12px;
	margin-left: 20px;
}
#geral #conteudo #busca .cposBusca a{
	background: url('../imagens/seta-inativo-filtro.gif') no-repeat right;
	color: #f37d35;
	font-size: 13px;
	padding: 0 18px;
}
#geral #conteudo #busca .resultadoBusca{
	float: left;
	font-size: 12px;
	margin-left: 15px;
	color: #F37D35;
}

#geral #conteudo #busca a.lupa{
	background: url('../imagens/ico-lupa.gif') no-repeat;
	width: 51px;
	height: 50px;
	display: block;
	float: right;
}

/* tarja obra */
#geral #conteudo div.tarja{
	background: url('../imagens/bg-tarja.png') no-repeat left;
	position: absolute;
	left: -9px;
	top: 20px;
	height: 55px;
	padding: 0 20px;
}
#geral #conteudo div.tarja span{
	background: #f37d35;
	display: block;
	height: 14px;
	padding: 13px 20px 13px 0;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}


/* Tiny Scrollbar */
.scrollbarPadrao { 
	width: 185px; 
	height: 210px;
	margin: 30px 0 10px 20px; 
	background-color: #fff;
	position: absolute;
	z-index: 10;
	display: none;
}
.scrollbarPadraoM { 
	width: 125px; 
	height: 210px;
	margin: 30px 0 10px 20px; 
	background-color: #fff;
	position: absolute;
	z-index: 10;
	display: none;
}
.scrollbarPadraoM .viewport { 
	width: 95px; 
	height: 200px; 
	overflow: hidden; 
	position: relative; 
}

.scrollbarPadrao .viewport{ 
	width: 159px; 
	height: 200px; 
	overflow: hidden; 
	position: relative; 
}
.scrollbarPadrao .overview,
.scrollbarPadraoM .overview { 
	list-style: none; 
	position: absolute; 
	left: 0; 
	top: 0; 
	padding: 0; 
	margin: 0; 
}
.scrollbarPadrao .overview ul,
.scrollbarPadraoM .overview ul{
	width: 145px;
}
.scrollbarPadrao .overview ul li,
.scrollbarPadraoM .overview ul li{
	float: left;
	clear: both;
	background: none;
	border-bottom: 1px solid #e5e5e5;
	width: 145px;
	padding: 10px 0;
}
.scrollbarPadrao .overview ul li a,
.scrollbarPadraoM .overview ul li a{
	color: #000;
	font-size: 12px;
	padding-left: 18px;
}
.scrollbarPadrao .scrollbar,
.scrollbarPadraoM .scrollbar{ 
	background: #e5e5e5; 
	position: relative; 
	background-position: 0 0; 
	float: right; 
	width: 11px; 
	margin-right: 15px;
}
.scrollbarPadrao .track,
.scrollbarPadraoM .track {  
	height: 100%; 
	width:11px; 
	position: relative; 
	padding: 0 1px; 
}
.scrollbarPadrao .thumb,
.scrollbarPadraoM .thumb { 
	background: #f37d35; 
	height: 20px; 
	width: 5px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	left: 3px; 
}
.scrollbarPadrao .thumb .end,
.scrollbarPadraoM .thumb .end  { 
	overflow: hidden; 
	height: 5px; 
	width: 25px; 
}
.scrollbarPadrao .disable, .scrollbarPadraoM .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


/* ============== footer ============== */
#geral #footer{
	background-color: #f37d35;
	position: relative;
	width: 100%;
	padding: 40px 0;
	float: left;
}
#geral #footer h2{
	float: left;
	margin-top: 5px;
}
#geral #footer h2 a{
	background: url('../imagens/logo-rodape.jpg') no-repeat;
	width: 272px;
	height: 78px;
	text-indent: -9999px;
	display: block;
}
#geral #footer .menu{
	position: relative;
	float: right;
}
#geral #footer ul{
	background-color: #fff;
	float: left;
	position: relative;
}
#geral #footer ul.sub{
	margin-left: 1px;
}
#geral #footer ul li{
	float: left;
}
#geral #footer ul li a{
	background: url('../imagens/borda-menu.gif') no-repeat left center;
	font-size: 10px;
	text-transform: uppercase;
	color: #727272;
	font-weight: bold;
	padding: 20px 20px;
	float: left;
}
#geral #footer ul li:first-child a{
	background: none;
}
#geral #footer ul li a:hover{
	background-color: #1b69b3;
	color: #fff;
}

