
/* imóveis */
#geral #conteudo .imovelG{
	background-color: #fff;
	position: relative;
	border-right: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	float: left;
	width: 460px;
	padding-bottom: 10px;
	margin-right: 18px;
}
#geral #conteudo .imovelG p{
	color: #a7a7a7;
	font-size: 13px;
	text-align: center;
	padding-top: 10px;
}
#geral #conteudo .imovelG p span{
	text-transform: uppercase;
	color: #515151;
}


#geral #conteudo .imovelP{
	background-color: #fff;
	position: relative;
	border-right: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	float: left;
	width: 220px;
	padding-bottom: 10px;
	margin-bottom: 17px;
}
#geral #conteudo .imovelP p{
	color: #a7a7a7;
	font-size: 13px;
	text-align: center;
	padding-top: 10px;
}
#geral #conteudo .imovelP p span{
	text-transform: uppercase;
	color: #515151;
}


#geral #conteudo .imovelDestaque{
	background-color: #fff;
	position: relative;
	border-bottom: 1px solid #d5d5d5;
	float: left;
	width: 100%;
	margin-bottom: 17px;
}
#geral #conteudo .imovelDestaque .txts{
	position: relative;
	float: left;
	width: 635px;
	height: 420px;
	padding-left: 85px;
}
#geral #conteudo .imovelDestaque .txts div{
	display: table-cell;
	vertical-align: middle;
	height: 420px;
}
#geral #conteudo .imovelDestaque .txts div h3{
	font-size: 40px;
	color: #6e6e6e;
}
#geral #conteudo .imovelDestaque .txts div p{
	font-size: 16px;
	color: #6e6e6e;
}
#geral #conteudo .imovelDestaque .img{
	position: relative;
	float: right;
	width: 460px;
}

#geral #conteudo div.tarja{
	background: url('../imagens/bg-tarja.png') no-repeat left;
	position: absolute;
	left: -9px;
	top: 20px;
	height: 55px;
	padding: 0 20px;
}
#geral #conteudo div.tarja span{
	background: #f37d35;
	display: block;
	height: 14px;
	padding: 13px 20px 13px 0;
	font-size: 12px;
	color: #fff;
}
#geral #conteudo a.btnCarregarConteudo{
	background: url('../imagens/btn-carregarConteudo.jpg') no-repeat;
	display: block;
	width: 220px;
	height: 50px;
	text-indent: -9999px;
	float: left;
	margin-left: 480px;
}


