/* img obra */
#geral #conteudo .destaqueObra{
	position: relative;
	float: left;
	width: 1180px;
}
#geral #conteudo .destaqueObra .progresso{
	background-color: #fff;
	position: absolute;
	width: 1140px;
	height: 30px;
	bottom: 20px;
	margin-left: 22px;
}

/* estágios obra */
#geral #conteudo ul.estagiosObra{
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	margin-top: 10px;
}
#geral #conteudo ul.estagiosObra li{
	background: #fff url('../imagens/bullet-obra.jpg') no-repeat scroll left center;
	float: left;
	clear: both;
	padding-left: 10px;
	color: #6e6e6e;
	margin-top: 10px;
}
#geral #conteudo ul.estagiosObra li span.nomeFase{
	display: block;
	width: 130px;
	float: left;
	font-size: 12px;
}
#geral #conteudo ul.estagiosObra li span.linhaPorcentagem{
	width: 360px;
	height: 1px;
	background-color: #cfcece;
	float: left;
	margin-top: 8px;
}
#geral #conteudo ul.estagiosObra li span.linhaPorcentagem span{
	width: 90%; /* valor dinâmico*/
	height: 1px;
	background-color: #1c6ab2;
	display: block;
}
#geral #conteudo ul.estagiosObra li span.valor{
	float: left;
	margin-left: 10px;
	font-size: 12px;
	color: #1c6ab2;
}

/* carrosel */
#geral #conteudo .carrosel{
	background: #fff url('../imagens/bg-img.jpg') no-repeat scroll 700px 0;
	position: relative;
	float: left;
	width: 1090px;
	margin-top: 20px;
	padding-left: 90px;
}
#geral #conteudo .carrosel ul.links{
	padding-top: 70px;
	position: absolute;
	z-index: 10;
}
#geral #conteudo .carrosel ul.links li{
	float: left;
	margin-right: 18px;
}
#geral #conteudo .carrosel ul.links li a.links{
	color: #6e6e6e;
	text-transform: uppercase;
	font-size: 10px;
	padding-bottom: 9px;
}
#geral #conteudo .carrosel ul.links li a.links:hover,
#geral #conteudo .carrosel ul.links li a.links.atv{
	border-bottom: 1px solid #1b69b1;
}
#geral #conteudo .carrosel .detalhes{
	position: relative;
	float: left;
	width: 545px;
	overflow: hidden;
	clear: both;
	padding: 110px 65px 0 0;
}
#geral #conteudo .carrosel .detalhes > ul > li{
	float: left;
	width: 545px;
	margin-right: 65px;
}
#geral #conteudo .carrosel .detalhes h3{
	color: #6e6e6e;
	font-weight: normal;
	font-size: 40px;
}
#geral #conteudo .carrosel .detalhes p{
	color: #515151;
	font-size: 15px;
	padding-top: 10px;
}
#geral #conteudo .carrosel .detalhes ul.infosDetalhadas li{
	background: url("../imagens/ico-lista.jpg") no-repeat scroll left center;
	float: left;
	clear: both;
	padding-left: 9px;
	color: #6e6e6e;
	font-size: 12px;
	margin-top: 10px;
}
#geral #conteudo .carrosel .detalhes a.btn{
	background-color: #1c68b3;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	float: left;
	margin-top: 15px;
}

#geral #conteudo .carrosel .imagens{
	position: relative;
	float: right;
	height: 420px;
	width: 458px;
	overflow: hidden;
}
#geral #conteudo .carrosel .imagens ul li{
	float: left;
}
#geral #conteudo .carrosel .imagens ul.bullets{
	width: 100px;
	bottom: 20px;
    left: 50%;
    position: absolute;
    width: 65px;
}
#geral #conteudo .carrosel .imagens ul.bullets li{
	margin-right: 10px;
}
#geral #conteudo .carrosel .imagens ul.bullets li a{
	background: url('../imagens/bullets.png') no-repeat scroll -20px 0;
	width: 11px;
	height: 11px;
	display: block;
}
#geral #conteudo .carrosel .imagens ul.bullets li a.atv{
	background-position: 0;
}

/* ======= modais ======== */
#geral a.btnFecharModal{
	background: url("../imagens/btn-fechar.jpg") no-repeat scroll 0 0;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	text-indent: -9999px;
}

/* modal planta */
#geral .modalPlanta{
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 685px;
	top: 246px;
	left: 0;
	z-index: 9999;
	display: none;
}
#geral .modalPlanta span.nomeEmpreendimento{
	font-size: 40px;
	color: #6e6e6e;
	float: left;
	margin: 20px 0 0 20px;
}
#geral .modalPlanta p.preco{
	font-size: 24px;
	color: #6e6e6e;
	float: left;
	clear: both;
	margin: 30px 0 0 70px;
}
#geral .modalPlanta span.planta{
	text-align: center;
	width: 100%;
	display: block;
	padding-top: 30px;
	float: left;
}

/* modal unidades */
#geral .modalUnidades{
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 685px;
	top: 246px;
	left: 0;
	z-index: 9999;
	display: none;
}
#geral .modalUnidades span.nomeEmpreendimento{
	font-size: 40px;
	color: #6e6e6e;
	float: left;
	margin: 20px 0 0 20px;
}
#geral .modalUnidades p.unidades{
	font-size: 24px;
	color: #6e6e6e;
	float: left;
	clear: both;
	margin: 30px 0 0 60px;
}
#geral .modalUnidades ul{
	float: left;
	padding: 0 40px 0 60px;
	margin-top: 30px;
}
#geral .modalUnidades ul li{
	background: url("../imagens/ico-lista.jpg") no-repeat scroll left center;
	float: left;
	clear: both;
	padding-left: 9px;
	color: #6e6e6e;
	font-size: 12px;
	margin-top: 10px;
}
#geral .modalUnidades ul li a{
	color: #6e6e6e;
	text-decoration: none;
}
#geral .modalUnidades ul li a:hover{
	text-decoration: underline;
}

/* informações */
#geral #conteudo .informacoes{
	background: url("../imagens/bg-img.jpg") no-repeat scroll 343px 0 #FFFFFF;
	position: relative;
	width: 945px;
	margin-top: 20px;
	float: left;
}
#geral #conteudo .informacoes .maps{
	position: relative;
	width: 464px;
	height: 420px;
	float: left;
}
#geral #conteudo .informacoes .itens{
	position: relative;
	width: 445px;
	height: 390px;
	float: left;
	padding: 30px 0 0 35px;
}
#geral #conteudo .informacoes .itens h3{
	font-size: 24px;
	color: #000;
	font-weight: normal;
	margin-bottom: 15px;
}
#geral #conteudo .informacoes .itens p{
	font-size: 15px;
	color: #909090;
}
#geral #conteudo .informacoes .itens ul{
	float: left;
	margin-top: 30px;
}
#geral #conteudo .informacoes .itens ul.aux{
	margin-left: 120px;
}
#geral #conteudo .informacoes .itens ul li{
	background: url("../imagens/bullet-itens.jpg") no-repeat left center;
	float: left;
	clear: both;
	padding-left: 20px;
	margin-top:7px; 
	font-size: 13px;
}

/* informações/contato */
#geral #conteudo .contato{
	background-color: #fff;
	width: 154px;
	height: 375px;
	float: left;
	margin: 20px 0 0 15px;
	padding: 45px 33px 0 33px;
}

#geral #conteudo .contato .cont1 h4{
	background: url("../imagens/ico-tel.jpg") no-repeat left top;
	color: #1e68b1;
	font-size: 15px;
	padding: 0 0 0 60px;
}
#geral #conteudo .contato .cont1 p{
	color: #515151;
	font-size: 15px;
	padding-top: 18px;
}

#geral #conteudo .contato .cont2{
	padding-top: 40px;
}
#geral #conteudo .contato .cont2 h4{
	background: url("../imagens/ico-carta.jpg") no-repeat left top;
	color: #1e68b1;
	font-size: 15px;
	padding: 0 0 0 60px;
}
#geral #conteudo .contato .cont2 p{
	color: #515151;
	font-size: 15px;
	padding-top: 18px;
}

/* resultado busca */
#geral #conteudo #resultadoBusca{
    background-color: #FFFFFF;
    border-bottom: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    border-top: 1px solid #D5D5D5;
    float: left;
    position: relative;
    width: 100%;
    padding: 18px 0;
}
#geral #conteudo #resultadoBusca p{
	color: #1b69b3;
	font-size: 14px;
	padding-left: 55px;
}
#geral #conteudo .resultado{
	background-color: #fff;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #D5D5D5;
	float: left;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
#geral #conteudo .resultado h3{
	color: #1b69b3;
	font-size: 22px;
	text-transform: uppercase;
	padding-top: 25px;
	font-weight: normal;
}
#geral #conteudo .resultado p{
	color: #939393;
	font-size: 13px;
	padding-top: 10px;
}

/* =========== sobre ========= */
#geral #conteudo .conteudoSobre{
	background-color: #fff;
	width: 100%;
	float: left;
	border-bottom: 1px solid #D5D5D5;
	border-right: 1px solid #D5D5D5;
}
#geral #conteudo .conteudoSobre .txt{
	position: relative;
	width: 535px;
	height: 270px;
	padding: 150px 100px 0 85px;
	float: left;
}
#geral #conteudo .conteudoSobre .txtG{
	width: 995px;
}
#geral #conteudo .conteudoSobre .txt h3{
	color: #6e6e6e;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: normal;
}
#geral #conteudo .conteudoSobre .txt p{
	color: #9a9a9a;
	font-size: 16px;
	padding-top: 15px;
}
#geral #conteudo .conteudoSobre .img{
	float: left;
}

/* =========== contato ========= */
#geral #conteudo .conteudoContato{
	background-color: #fff;
	width: 1125px;
	float: left;
	padding: 75px 0 75px 55px;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
}
#geral #conteudo .conteudoContato h3{
	color: #6e6e6e;
	font-size: 40px;
	font-weight: normal;
	margin:0 0 10px 35px;
}
#geral #conteudo .conteudoContato form div{
	float: left;
	margin: 20px 0 0 35px;
}
#geral #conteudo .conteudoContato form div span{
	float: left;
	margin: 20px 5px 0;
}
#geral #conteudo .conteudoContato label{
	color: #515151;
	font-size: 15px;
	float: left;
}
#geral #conteudo .conteudoContato input[type="text"]{
	border:1px solid #a0a0a0;
	float: left;
	clear: both;
	margin-top: 15px;
	height: 28px;
	line-height: 28px;
}
#geral #conteudo .conteudoContato input[type="text"].cpoG{
	width: 485px;
}
#geral #conteudo .conteudoContato input[type="text"].cpoM{
	width: 275px;
}
#geral #conteudo .conteudoContato input[type="text"].cpoP1{
	width: 35px;
}
#geral #conteudo .conteudoContato input[type="text"].cpoP2{
	width: 108px;
	clear: none;
}

#geral #conteudo .conteudoContato textarea{
	border:1px solid #a0a0a0;
	float: left;
	clear: both;
	margin-top: 15px;
	height: 83px;
	width: 906px;
	resize:none;
}


#geral #conteudo .conteudoContato input.btnEnviar {
    background: url("../imagens/btn-enviar.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 30px;
    width: 76px;
    margin: 108px 0 0 18px;
    cursor: pointer;
}
#geral #conteudo .conteudoContato small{
	float: left;
	clear: both;
	color: #1769b2;
	font-style: italic;
	font-size: 11px;
	margin: 7px 0 0 35px;
}

#geral #conteudo .mapa{
	position: relative;
	width: 100%;
	float: left;
	margin-top: 25px;
}
#geral #conteudo .mapa .endereco{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #1b69b3;
	width: 100%;
	height: 63px;
	line-height: 63px;
	text-align: center;
}
#geral #conteudo .mapa .endereco p{
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
}